{% load static %}
{% static 'images' as baseUrl %}
<!DOCTYPE html>
<html lang="en">
    {% include 'head.html'%}
    <link rel="stylesheet" type='text/css' href="{% static 'styles/forms.css' %}">
<body>
    <div class="super_container">
        <!-- Menu -->
        {% include 'menu.html' %}
        <!--Home-->
        {% include 'home.html' %}
        <!-- Search -->
        <div id='formulario_container'>
            <div id='formulario_header'>
                Registrar Destino
            </div>
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <a href="../">Cancelar</a>
                <input type="submit" value='Guardar'>
            </form>
            <div id='formulario_descripcion'>
                Puedes ver todos los destinos registrados <a id='redireccion' href="listaDestinos">Aqui</a>
            </div>
            <div>
                {% for message in messages%}
                <div id='mensaje_error'>
                    {{message}}
                </div>
                {% endfor%}
            </div>
        </div>
        {% include 'footer.html'%}
    </div>
    {% include 'scripts.html'%}
</body>
</html>