{% load static %}
{% static 'images' as baseUrl %}
<!DOCTYPE html>
<html lang="en">
    {% include 'head.html'%}
    <link rel="stylesheet" type='text/css' href="{% static 'styles/eliminarConfirmacion.css' %}">
<body>
    <div class="super_container">
        <!-- Menu -->
        {% include 'menu.html' %}
        <!--Home-->
        {% include 'home.html' %}
        <!-- Search -->
        <div id='eliminarDestino'>
            <div class='seleccionEliminar'>
                <div class='seleccion_header'>
                    ¿Esta seguro de eliminar a este destino?
                </div>
                <form method='POST'>
                    {% csrf_token %}
                    <input class='input_seleccion' type="submit" value='SI'>
                </form>
                <form action="../listar" method='POST'>
                    {% csrf_token %}
                    <input class='input_seleccion' type="submit" value='NO'>
                </form>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
    {% include 'scripts.html' %}
</body>
</html>