
{% load static %}
{% static 'images' as baseUrl %}
<!DOCTYPE html>
<html lang="en">
	{% include 'head.html' %}
<body>
<div class="super_container">
	<!-- Header -->
	{% include 'header.html' %}
	<!-- Menu -->
	{% include 'menu.html' %}
	<!--Home-->
	{% include 'home.html' %}
	<!-- Search -->
	{% include 'search.html' %}
	<!-- Intro -->
	{% include 'intro.html' %}
	<!-- Destinations -->
	{% include 'destinations.html'%}
	<!-- Testimonials -->
	{% include 'testimonials.html'%}
	<!-- News -->
	{% include 'news.html' %}
	<!-- Footer -->
	{% include 'footer.html'%}
</div>
{% include 'scripts.html'%}
</body>
</html>